{%  extends 'account/main.html' %}
{% load static %}
{% block content %}

<br>
<br>
<div class="row">
	<div class="col-md-6">

        <div class="shadow p-3 mb-5 bg-white rounded">
		<div class="card card-body border-0">
            

                <p>Are you sure you want to delete "{{item}}"?</p>

                <form action="{% url 'delete_order' item.id  %}" method="POST">
                    
                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>

                    <input class="btn btn-info" type="submit" name="Confirm">
                </form>
            </div>
		</div>
	</div>
</div>

{% endblock %}