

		body{
			background-color: #ebeff5;
		}


		#total-orders{
			background-color: #ffffff;
		}


		#orders-delivered{
			background-color: #ffffff;
		}

		#orders-pending{
			background-color: #ffffff;
		}
